<a href="#/flightDetail/:{{_id}}" class="added-flight">
    <img src="{{image}}" alt="No picture available" class="picture-added-flight">
<h3>{{destination}}</h3>
<span>{{origin}}</span><span>{{departureDate}}</span>
</a>