<div class="flight-ticket">
    <div class="flight-left">
        <img src="{{image}}" alt="Image unavailable!">
    </div>
    <div class="flight-right">
        <div>
            <h3>{{destination}}</h3><span>{{departureDate}}</span>
        </div>
        <div>
            {{origin}} <span>{{departureTime}}</span>
        </div>
        <p>{{seats}} Seats ({{cost}}$ per seat) </p>
        <a href="#/deleteFlight/:{{_id}}" class="remove">REMOVE</a>
        <a href="#/flightDetail/:{{_id}}" class="details">Details</a>
    </div>

</div>